/* Home */

hr{
    color: white;
}

.home{
    padding: 60px 0px 95px 0px;
}

.home p {
    margin: 0px;
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    max-width: 515px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px;    
}

.home .content h1 {
    position: static;       
    height: 129px;
    left: 0px;
    top: calc(50% - 129px/2 - 157px);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    color: #16161D;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px 0px;
}

.home .content p {
    position: static;    
    height: 87px;
    left: 0px;
    top: calc(50% - 87px/2 - 9px);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    /* Grey 06 */
    color: #16161D;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.content .job-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;    
    height: 60px;
    left: 0px;
    top: 296px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 25px 0px;
}

.job-skills .list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 440px;
    height: 25px;
    left: 0px;
    top: 35px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

.job-skills .list-item p {
    position: static;
    width: 408px;
    height: 25px;
    left: 41px;
    top: 0px;

    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    display: flex;
    align-items: center;

    /* Grey 06 */

    color: #16161D;
}

.aw.aw-check {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%2316161D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.89169 16.1672L8.89125 16.1676L11.101 18.3773L11.1014 18.3769L11.1014 18.3769L13.3111 16.1672L13.3111 16.1672L19.9398 9.53847L17.7301 7.32875L11.1014 13.9575L7.41859 10.2747L5.20888 12.4844L8.89169 16.1672Z' fill='white'/%3E%3C/svg%3E");
}

.job-skills .list-item span {
    position: static;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}
.content .button-list{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 326px;
    height: 47px;
    left: 0px;
    top: 396px;


    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 25px 0px;
}
.button-list button{                        
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 28px;

    position: static;            
    height: 47px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */            
    align-items: center;
    text-align: center;
    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 16px;
}

button.bg-black{
    background: #16161D;
    color: #FFFFFF;
}
.profile{
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 50px;
}
.profile .photo{            
    width: 439px;
    height: 627px;            

    background: url(../img/me.png), #FFFFFF;
    background-position: center;
    background-size:cover ;
    border-radius: 20px;
}

.cont{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;               
    height: 627px;
}
.side-nav{
    position: fixed;
    width: 57px;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #16161D;      
    z-index: 30;  
}
.side-nav .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 22px;
    
    left: 17px;
    top: 32px;
    overflow: hidden;
}
.nav-list a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */        
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: rotate(90deg);
    
    margin: 20px 0px;
    padding: 10px 0px;
    text-decoration: none;
    animation: scrolling-down 10s linear infinite;
}
@keyframes scrolling-down {
    0% {
        transform: translateY(550%) rotate(90deg);
    }
    100% {            
        transform: translateY(-550%) rotate(90deg);
    }
}

.side-nav .nav-list:hover, .side-nav .nav-list:hover a{
    animation-play-state: paused;
}
.side-nav .social-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 24px;        
    left: 17px;
    bottom: 25px;
}
.social-list a {                
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    margin: 12px 0px;
}


#works{
    background-color: #16161D;
    width: 0%;
}

#works h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
/* Works */
.work-item{
    display: flex;
    justify-self: start;
    position: relative;
}
.work-item .content-img{
    border: solid white 1px;
    position: absolute;
    height: 240px;
    right: 10px;
    width: 60%;
    top: 0;
    background-color:#ffffff;
    background-position: center !important;
    background-size: cover !important;
}

.content-des{
    position: relative;    
    width: 38%;
    padding-right: 10px;
    height: 240px;
}

.content-des .title{
    position: relative;
    width: max-content;
    height: max-content;            
}

.content-des .title .title-project{
    position: relative;
    
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    display: flex;
    align-items: center;
    height: 30px;

    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;

    z-index: 2;
}

.content-des .title .overlay{
    position: absolute;    
    height: 40%;
    width: 106%;
    bottom: 0;
    left: 0;
}

.content-des .btn-project{                        
    padding: 5px 12px;
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid #ffffff;    
    box-sizing: border-box;
    border-radius: 5px;
    color: #ffffff;
}

.content-des .detail{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #ffffff;
    margin-bottom: 15px;
}


#works .btn-fill{
    background: #FFFFFF;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin: 0px 5px;
}

#works .btn-rounded{
    background: #16161D;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #ffffff;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin: 0px 5px;
}

@keyframes smooth-slide {
    0% {
        transform: translateX(-15%);
    }
    100% {            
        transform: translateX(0%);
        animation-play-state: paused;
    }
}
@keyframes smooth-slide-back {
    0% {
        transform: translateX(15%);
    }
    100% {            
        transform: translateX(0%);
        animation-play-state: paused;
    }
}